:root {
    /* colors */
    --night: #292A53;
    --lake: #7982B6;
    --off-black: #1C1C1B;
    --daisy: #EFEBCE;
    --off-white: #F9F8F7;
    --olive: #A3A37F;
    
}

/* Line-height = font-size + 0.5rem */

h1, h2 {
    font-family: "Hepta Slab", serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--night);
    margin: 0;
    width: 100%;
    line-height: 2rem;
}

h3 {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: var(--off-black);
    margin: 0;
    line-height: 1.6rem;
}

h4 {
    font-family: "Karla", sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--off-black);
    margin: 0;
    line-height: 1.6rem;
}

p {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--off-black);
    margin: 0;
    line-height: 1.4rem;
}

.link {
    font-family: "Karla", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: var(--night);
}

.link:hover {
    color: var(--lake);
}

button {
    background-color: var(--lake);
    padding: 0.7rem;
    width: 100%;
    border: solid 0.1rem var(--lake);
    color: var(--off-white);
    font-family: "Karla", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 10rem;
    box-shadow: 0 0.2rem 0.4rem #1c1c1b80;
    cursor: pointer;
}

button:hover {
    background-color: var(--off-white);
    color: var(--lake);
}