:root {
    /* colors */
    --primary-purple: #3533C1;
    --secondary-purple: #8381EB;
    --off-black: #1C1C1B;
    --orange: #F19318;
    --background: #F7F4EE;

}

h1, h2 {
    font-family: "Hepta Slab", serif;
    font-weight: 600;
    font-size: 2rem;
    color: var(--primary-purple);
}

h3 {
    font-family: "Karla", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--off-black);
}

p {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--off-black);
}

.link {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--primary-purple);
    text-decoration: underline;
}

.link:hover {
    color: var(--secondary-purple);
}